html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    height: 100%;
    font-family: var(--font-family, sans-serif);
    -webkit-text-size-adjust: 100%;
}

.page__body {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    min-height: 100%;
    font-size: 16px;
    background: var(--greyscale-black-100);
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.centered {
    text-align: center;
}

.dis-scroll {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    overscroll-behavior: none;
}

.page--ios .dis-scroll {
    position: relative;
}

:root {
    --font-family: "Chakra Petch", sans-serif;
    --content-width: 1200px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    --second-family: "Inter", sans-serif;
    --main-colors-purple: #ca6aeb;
    --main-colors-blue: #19b5f1;
    --greyscale-black-100: #18181b;
    --greyscale-black-80: #252532;
    --greyscale-grey-1: #b0b0b2;
    --greyscale-grey-2: #d1d1d1;
    --greyscale-white: #fff;
    --alerts-success: #00c566;
    --alerts-error: #ff4747;
    --alerts-warning: #facc15;
}